@import "components/bourbon/bourbon"
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900')

+font-face('SegoeUI', "../fonts/SegoeUI")

$segoe: 'Segoe UI', Helvetica, Arial, sans-serif
$roboto: 'Roboto', sans-serif

//  COLORS
$white: #FFFFFF
$black: #3D3D3D
$blackText: #707070
$grey: #969696
$lightGrey: #EEEEEE
$orange: #FF7933
$lightOrange: #FF9100
$green: #2EC600

// EXTENDS CLASSES
%transition
	+transition(all .4s linear)
.circle
	+border-top-radius(50%)
	+border-bottom-radius(50%)
%blockCenter
	margin-left: auto
	margin-right: auto
%clearfix		
	content: '.'
	display: block
	clear: both
	height: 0
	line-height: 0
	font-size: 0
	visibility: hidden
	overflow: hidden

$browser-context: 14 // Default

@function em($pixels, $context: $browser-context)
	@return #{$pixels/$context}em

*
	padding: 0
	margin: 0
	text-decoration: none

h1, h2, h3, h4, h5, h6
	font-weight: 400
h1
	font-size: em(36)
h2
	font-size: em(30)
h3
	font-size: em(23)
h4
	font-size: em(21)
h5
	font-size: em(18)
h6
	font-size: em(14)

html, body
	height: 100%
	font-family: $roboto
	font-size: 14px

body
	overflow: hidden

#main
	height: 100%
	+display(flex)
	+flex-direction(column)

#content-wrapper
	flex: 1 1 auto
	position: relative
	overflow-y: auto

#fixed-menu
	flex: 0 0 auto

.gridD
	max-width: 100%
	+margin(null 19px)
	position: relative

p
	font-weight: 300
	color: $blackText
	line-height: 1.5em

small
	font-size: em(12)

.bg-orange-gradient
	background: url('../img/bg-loader.png') center center no-repeat #FF7933
		background-size: cover

.black-text
	color: $black
.grey-text
	color: $grey

[class*="icon"] 
	color: $orange
	&::before 
		color: inherit
		display: block
	&.rotate180
		&::before
			+transform(rotate(180deg))

.back-button
	+position(fixed, 10px null null 13px)
	a
		opacity: .54
		@extend %transition
		i
			color: $white
		&:hover
			opacity: .7

.input-field
	+position(relative, null)
	+padding(6px null)

.input-field.input-field-icon i,
.input-field.input-field-icon a
	+position(absolute, 50% null null 10px)
	+transform(translateY(-50%))

.input-field.input-field-icon a 
	left: auto
	right: 23px

.input-field.input-field-icon input
	padding-left: 28px

.input
	+appearance(none)
	border: 1px solid $lightGrey
	-webkit-border-radius: 6px
	-moz-border-radius: 6px
	border-radius: 6px
	+size(calc(100% - 28px) 39px)
	font-size: em(14)
	font-weight: 300
	padding-left: 12px
	+placeholder
		color: $grey

.btns-center
	text-align: center
.btn
	+appearance(none)
	border: none
	min-width: 213px
	font-size: 1em
	line-height: 1em
	border-radius: 4px
	text-transform: uppercase
	color: $white
	display: block
	text-align: center
	+margin(6px null)
	cursor: pointer
	+padding(11px 9px)
	@extend %transition
	&.btn-orange
		background: $lightOrange
	&.btn-green
		background: $green
	&.btn-grey
		color: $black
		background: $lightGrey
	&.btn-center
		+margin(null auto)
a.btn
	display: inline-block
	min-width: calc(213px - 18px)

.checkbox
	+size(16px)

.checkbox-container
	display: inline-block
	position: relative
	padding-left: 25px
	cursor: pointer
	+user-select(none)
	input
		position: absolute
		opacity: 0
		cursor: pointer
		+size(0)

.checkmark
	+position(absolute, -1px null null 0)
	width: 14px
	height: 14px
	background-color: transparent
	border: 2px solid $grey
	@extend %transition

.checkbox-container:hover input ~ .checkmark
	background-color: $lightOrange
	border-color: $lightOrange

.checkbox-container input:checked ~ .checkmark
	background-color: $green
	border-color: $green

.checkmark:after
	content: ""
	position: absolute
	display: none

.checkbox-container input:checked ~ .checkmark:after
	display: block

.checkbox-container .checkmark:after
	+position(null, -2px null null 4px)
	+size(6px 13px)
	border: solid white
	border-width: 0 3px 3px 0
	+transform(rotate(45deg))

.box-shadow
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16)

.bd-radius
	-webkit-border-radius: 6px
	-moz-border-radius: 6px
	border-radius: 6px

.progress
	.row
		+display(flex)
		+justify-content(space-between)
		+align-items(flex-end)
		p
			font-size: 12px
			font-weight: 500
			color: rgba(0, 0, 0, .54)

.progress-bar
	+size(100% 9px)
	-webkit-border-radius: 10px
	-moz-border-radius: 10px
	border-radius: 10px
	display: block
	position: relative
	background: $grey
	overflow: hidden
	margin-top: 9px
	.bar
		background: $orange
		height: 100%

.card
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4)
	border-radius: 4px
	+margin(15px null)
	overflow: hidden
	.card-header
		background: $white
		+display(flex)
		+justify-content(space-between)
		+padding(9px 16px)
		i
			color: #000000
		.card-btn
			i
				font-size: 8px
				&::before
					@extend %transition
		.left, .right
			+display(flex)
			+align-items(center)
		.info
			margin-left: 12px
		.icon
			+size(40px)
			background: $lightOrange
			@extend .circle
			+display(flex)
			+align-items(center)
			+justify-content(center)
			i
				font-size: 26px
				color: $white
		h4
			font-size: 14px
			color: rgba(0, 0, 0, .87)
		h3
			font-size: 14px
			color: rgba(0, 0, 0, .54)

	.card-image
		+size(100% 96px)
		display: block
		background-position: center center
		position: relative
		background-size: cover
		@extend %transition
		&.big-image
			height: 291px
			&::before
				opacity: .52
		&::before
			content: ''
			+position(absolute, 0)
			opacity: 0
			background: #000000
			@extend %transition
	.card-resume
		+padding(16px)
		border-bottom: 1px solid rgba($black, .49)
		display: none
		p
			font-size: em(12)
	.card-content
		background: $lightGrey
		+padding(21px)
		display: none
	.card-footer
		+padding(15px)
		&.buttons
			+display(flex)
			+justify-content(flex-end)
		a
			margin-left: 33px
			color: $orange
			text-transform: uppercase
	&.card-open
		.card-btn
			i
				&::before
					+transform(rotate(0deg))

.title
	h3
		margin-top: 30px
	p
		font-size: 12px
		color: $black

#fixed-menu
	//+position(fixed, null 0 0)
	height: 46px
	z-index: 10
	background: $white
	-webkit-box-shadow: 0 -5px 6px rgba(0, 0, 0, .16)
	-moz-box-shadow: 0 -5px 6px rgba(0, 0, 0, .16)
	box-shadow: 0 -5px 6px rgba(0, 0, 0, .16)
	ul
		height: 100%
		+display(flex)
		+justify-content(space-around)
		+align-items(center)
		li
			+display(flex)
			a
				font-size: 27px
				i
					color: #BEBEBE
			&.active
				a
					i
						color: $orange

.banner
	height: 328px
	position: relative
	margin-bottom: -115px
	overflow: hidden
	@extend .bg-orange-gradient
	.icon-bg
		+position(absolute, 40px -18px null null)
		i
			font-size: 148px
			color: rgba($white, .2)
	.title
		+display(flex)
		padding-top: 57px
		.icon
			margin-right: 10px
			margin-top: -16px
		h6, p
			color: $white
		p
			margin-top: 15px
		i
			font-size: 39px
			color: $white
