@import 'config';

@keyframes pulse {
  0%{
    transform:scale(.1);opacity: 0;
  }
  50%{
    opacity: .4;
  }
  100%{
    transform: scale(1.6); opacity: 0;
  }
}

#loader {
  @include position(fixed, 0);
  z-index: 1000;
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  .line {
    border: 3px solid $white;
    border-radius: 50%;
    position: absolute;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
  }

  .line:nth-child(1) {
    animation: pulse 2.4s infinite;
  }
  .line:nth-child(2) {
    animation: pulse 2.8s infinite;
  }
  .line:nth-child(3) {
    animation: pulse 3.2s infinite;
  }
  .line:nth-child(4) {
    animation: pulse 3.6s infinite;
  }

  img {
    margin-bottom: 20px;
  }

  .text {
    @include position(absolute, null null 0 null);
    width: 100%;
    text-align: center;
    margin-bottom: 110px;
  }
  p {
    font-size: 18px;
    color: $white;
    font-family: $segoe;
    margin-bottom: -2px;
    font-weight: 300;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

#login-page, #register-page {
  height: 100%;
  .btns {
    margin-top: 31px;
  }
}

#login-page {
  #logo {
    padding-top: 60px;
    margin-bottom: 44px;
    img {
      display: block;
      @include margin(null auto);
    }
  }
  form {
    .remember-me {
      margin-top: 31px;
    }
  }
}

#register-page {
  .gridD {
    @include padding(null 19px);
  }
  .back-button {
    @include position(absolute, 20px null null auto);
  }
  #logo {
    padding-top: 39px;
    text-align: center;
    margin-bottom: 25px;
    a {
      font-size: 85px;
      i {
        color: $white;
      }
    }
  }
  h5 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }
  form {
    background: $white;
    @include padding(38px 21px 63px);
  }
}

#intro-page {
  height: 100%;
  position: relative;
  .gridD {
    height: 100%;
    @include margin(null 42px);
  }
  .steps {
    height: 100%;
  }
  .step {
    background-color: $white;
    @include position(absolute, 0);
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    .icons {
      text-align: center;
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      margin-bottom: 79px;
      i {
        font-size: 116px;
        @include margin(null 12px);
        &.opacity {
          opacity: .24;
          font-size: 80px;
          margin: 0;
        }
      }
    }
    h4 {
      text-align: center;
      margin-bottom: 29px;
    }
  }
  .menu-bottom {
    @include position(absolute, null 0 0);
    height: 56px;
    background: $lightOrange;
    @include padding(null 18px);
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
    .step-bullets {
      @include display(flex);

    }
    .bullet {
      @include size(6px);
      background: transparent;
      border: 1px solid $white;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;
      @extend %transition;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        background: $white;
      }
    }
    a {
      color: $white;
      font-weight: 500;
    }
  }
}